spring:
  datasource:
    url: ${SPRING_DATASOURCE_URL}
    username: ${SPRING_DATASOURCE_USERNAME}
    password: ${SPRING_DATASOURCE_PASSWORD}
    driver-class-name: org.postgresql.Driver
  jpa:
    hibernate:
      ddl-auto: create-drop # Cambiamos a create-drop para desarrollo local
    properties:
      hibernate:
        format_sql: true
    show-sql: true # Habilitamos para ver las queries SQL

server:
  port: 8080
  
logging:
  level:
    org.springframework: INFO
    com.bloodleague: DEBUG